# SPDX-License-Identifier: Apache-2.0

[Unit]
Description=Photon OS Management Daemon
After=network.target

[Service]
ExecStart=!!/usr/bin/photon-mgmtd
Restart=always

[Install]
WantedBy=multi-user.target
