# SPDX-License-Identifier: Apache-2.0

[Unit]
Description=A REST API Microservice Gateway
Documentation=man:distro-management-apid.conf(5)
After=network.target

[Service]
ExecStart=!!/usr/bin/distro-management-apid
Restart=always

[Install]
WantedBy=multi-user.target
