# SPDX-License-Identifier: Apache-2.0

[Unit]
Description=A REST API Microservice Gateway
Documentation=man:pm-webd.conf(5)
After=network.target

[Service]
ExecStart=/usr/bin/pm-webd
Restart=always

[Install]
WantedBy=multi-user.target
